<div class="container"> 
    <form  [formGroup]="createForm" (ngSubmit)="SignUp()">
    <mat-toolbar color="primary">
            <span class="fs-3">  Registration Form</span>
    </mat-toolbar><br><br>

    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" #useremail required >
            <mat-error *ngIf="allControls?.email?.errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="allControls?.email?.errors?.['email']">Enter correct email</mat-error>

        </mat-form-field><br><br>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Firstname</mat-label>
                <input matInput formControlName="firstname">
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Lastname</mat-label>
                <input matInput formControlName="lastname">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" autocomplete="on" formControlName="password" #userPwd required>
            <mat-error *ngIf="allControls?.password?.errors?.['required']">Password is required</mat-error>
        </mat-form-field><br>
    </div>

    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" autocomplete="on" formControlName="confirmPassword" #userPwd required>
            <mat-error *ngIf="allControls?.confirmPassword?.errors?.['required']">Confirm Password is required</mat-error>
        </mat-form-field><br>
        <mat-error *ngIf="createForm.errors?.['passwordsDontMatch']">Passwords should match</mat-error>
    </div>

    <div class="row">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Mobile Number</mat-label>
            <span matPrefix>+91 &nbsp;</span>
            <input type="number" matInput placeholder="555-555-1234" formControlName="phone">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" formControlName="address"></textarea>
        </mat-form-field>
    </div>

    <div class="row">
        <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>Choose an option</mat-label>
            <select matNativeControl formControlName="country">
              <option value="" selected></option>
              <option value="India">India</option>
              <option value="China">China</option>
              <option value="Japan">Japan</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
            </select>
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birth">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        </div>

    <div class="row">
        <div class="col">
        <label for="gender" class="p-1">Gender:</label>
        <input class="ms-4" type="radio" id="male" value="male" formControlName="gender">Male
        <input class="ms-4" type="radio" id="female" value="female" formControlName="gender">Female
        </div>
    </div><br>

    <div class="row">
        <div class="col text-center">
        <button type="submit" mat-raised-button color="primary" [disabled]="!createForm.valid">Register</button>
        </div>
    </div><br>

    <div class="center">
        <span>Have an account? <a href="/login">Login</a></span>
    </div>
</form>
</div>