<mat-toolbar color="primary">
  <mat-toolbar-row class="main-tool">
  <div>User Profile</div>
  <div>
      <a [routerLink]="['/home']" style="color: white; text-decoration: none">Home</a>
      <a (click)="auth.SignOut()" style="color: white; margin-left: 20px; text-decoration: none;">Logout</a>
  </div>
</mat-toolbar-row>
</mat-toolbar><br>


<div class="container-fluid">
    <div class="row">
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">My Profile</h1>
          </div>
          <!-- Show user data when logged in -->
          <div class="row" *ngIf="auth.userData as user">
            <div class="col-md-12">
              <div class="media">
                <div class="media-body">
                  <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                  <p>User ID: <strong>{{user.uid}}</strong></p>
                  <p>Email: <strong>{{user.email}}</strong></p>
                  <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div><br><br>


 <table class="table" style="border: 1px solid;">
    <thead>
      <tr *ngFor="let user of detailArray">
        <th>First Name:</th>
        <td>{{user.firstname}}</td>
      </tr>
      <tr *ngFor="let user of detailArray">
        <th>Last Name:</th>
        <td>{{user.lastname}}</td>
      </tr>
      <tr *ngFor="let user of detailArray">
        <th>Mobile Number:</th>
        <td>{{user.phone}}</td>
      </tr>
      <tr *ngFor="let user of detailArray">
        <th>Address:</th>
        <td>{{user.address}}</td>
      </tr>
      <tr *ngFor="let user of detailArray">
        <th>Country:</th>
        <td>{{user.country}}</td>
      </tr>
      <tr *ngFor="let user of detailArray">
        <th>Date Of Birth:</th>
        <td>{{user.birth}}</td>
      </tr>
      <tr *ngFor="let user of detailArray">
        <th>Gender:</th>
        <td>{{user.gender}}</td>
      </tr>
    </thead>
  </table>


  <!-- <tbody>
      <tr *ngFor="let item of polArray">
          <td>{{item.email}}</td>
          <td>{{item.firstname | uppercase}}</td>
          <td>{{item.lastname}}</td>
          <td>{{item.password}}</td>
      </tr>
  </tbody> -->
